<!DOCTYPE html>
<html>
<body>

<div>
  <h2 id="title"></h2>
  <table id="average_rating">
    <tbody></tbody>
  </table>
</div>
<div>
  <h3>Reviews</h3>
  <table id="review_list">
    <tbody></tbody>
  </table>
</div>

<div>
<h2>What's your rating?</h2>
<form action="/" method="post">
    <div>
      <label>Rating</label>
      <div class="rating"></div>
    </div>
    <div class="input text">
      <label for="description">Review</label><br>
      <input type="text" id="description" name="description" size="30" placeholder="Start typing....">
    </div>
    <div class="input submit">
      <input type="submit" value="Submit review"/>
    </div>
</form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script type=text/javascript src="{{
  url_for('static', filename='js/main.js') }}"></script>
<script src="https://cdn.jsdelivr.net/npm/rater-jquery@1.0.0/rater.min.js"></script>
</body>
</html>
